.search_bar {
  display: flex;
  justify-content: space-evenly;
}

.ant-btn-primary {
  background-color:rgb(249, 76, 67);
  border: none;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
  background-color: red;
  border-color: red
}


.ant-pagination-item-active {
  border-color: rgb(249, 76, 67);
}

.ant-pagination-item-active a {
  color: rgb(249, 76, 67);
}

.ant-pagination-item-active:focus a, .ant-pagination-item-active:hover a {
  color: red;
  border-color: red
}

.ant-pagination-item-active:focus, .ant-pagination-item-active:hover {
  border-color: red;
  color: red;
}

.ant-pagination-item:focus, .ant-pagination-item:hover {
  border-color: red;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ant-pagination-item:focus a, .ant-pagination-item:hover a {
  border-color: red;
  color: red;
}

.ant-input:hover {
  border-color:red;
  border-right-width: 1px !important;
}

.ant-input-search .ant-input:hover, .ant-input-search .ant-input:focus {
  border-color:red;
}







